body{
  background-color: skyblue;
}

h1{
  display: inline;
}

#btn{
  display: inline;

  background-color: coral;
  color: black;

  transition: 0.2s;

  border: solid 5px skyblue;
}

#btn:hover{
  display: inline;

  background-color: #ffaf70;
  

  border: solid 5px skyblue;
}



#pasword{
  display: inline;
  background-color: #ffaf70;

  border: solid 2px black;

  color: black;
}


#pasword::placeholder{
  color: #000;
}

.password{
  display: inline;
}